main {
  margin: 70px auto 50px auto;
  width: 97%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(90px, auto) minmax(600px, auto);
  grid-template-areas:
    'opciones '
    ' propiedades';
  justify-content: center;
  /* align-items: center; */
  box-sizing: border-box;
}
@media (min-width: 850px) {
  main {
    margin-top: 120px;
    grid-template-columns: 285px 3fr;
    grid-template-rows: minmax(60px, auto) minmax(500px, auto);
    grid-template-areas:
      'opciones opciones '
      'contenedor-filtros propiedades ';
    /* 'filtros propiedades ' */
    /* 'nulo propiedades '; */
  }
}

.opciones {
  grid-area: opciones;

  box-sizing: border-box;
  font-size: 0.8rem;
  /* margin: 0.5rem 0; */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  background: #fafafa;
}
.filtros {
  padding: 1rem .7rem;
  grid-area: filtros;
  display: flex;
  height: fit-content;
  flex-direction: column;

  background: #fafafa;
  color: #2e2b2b !important;

}
.propiedades {
  grid-area: propiedades;
  width: 100%;

  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  row-gap: 1rem;
  column-gap: 1rem;

  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 670px) {
  .propiedades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 300px);
    grid-gap: 1rem;
  }
}
@media (min-width: 850px) {
  .propiedades {
    padding-left: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 300px);
    grid-gap: 1rem;
  }
}
@media (min-width: 950px) {
  .propiedades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 300px);
    grid-gap: 1rem;
  }
}

/* ======== OPCIONESs =============*/

.opciones .orden {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2rem;
  margin: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
}
.opciones .orden select {
  text-indent: 0.5rem;
  width: 150px;
}
.opciones .acciones {
  width: 100%;
  background: #fafafa;
  margin: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.opciones .acciones button {
  /* padding: 0.5rem; */
  width: 150px;
  text-align: center;
  border: none;
}
.opciones .acciones i {
  padding-right: 0.5rem;
}
.opciones .acciones .activar-filtro {
  background: #cc1111;
  color: white;
}
.opciones .acciones .ver-mapa {
  background: #4faebe;
  color: white;
}

.opciones .breadcrumbs ul li {
  display: inline-block;
  padding-right: 0.3em;
}
.opciones .breadcrumbs {
  display: none;
}

@media (min-width: 850px) {
  .opciones {
    flex-direction: row;
    box-sizing: border-box;
    /* padding: 1rem; */
    justify-content: space-between;
  }
  .opciones .breadcrumbs {
    display: block;
  }
  .opciones .orden {
    width: calc(100% - 290px);
  }
  .opciones .acciones {
    display: none;
  }
}

/* --------- */
/* =========== FILTROS ================= */

.filtros {
  font-size: 0.85rem;
  display: flex;
  justify-content: unset;
  height: max-content;
  padding-bottom: 1rem;
  /* background: #fb5252; */
  /* background: #da4747; */
  background: #fafafa;
  box-shadow: 0px 1px 4px rgb(173, 173, 173);
}
.filtros > div.push_left {
  margin-top: 1rem !important;
}
.filtros > div {
  position: relative;
  /* margin: 1.5rem 0.8rem; */
  margin: 1.5rem 0.8rem 0.8rem 0.5rem;
  /* margin-bottom: 0.5rem; */
  padding-top: 0.8rem;
  /* color: #fafafa; */
  color: #2e2e2e;
}
.filtros > div.push_left {
  width: 90%;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fafafa;
  /* border-bottom: 1px solid #2e2b2be5; */
}
.cerrar-filtros {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  cursor: pointer;
  font-size: 1rem;
  top: -0.5rem;
  right: 0.5em;
  display: none;
}
.cerrar-filtros:before,
.cerrar-filtros:after {
  position: absolute;
  left: 0.75em;
  content: ' ';
  height: 1.5em;
  width: 0.2em;
  background-color: #2e2b2be5;
}
.cerrar-filtros:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.cerrar-filtros:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.filtros .titulo {
  position: absolute;
  top: -0.7rem;
}
.filtros .filtro {
  position: relative;
  width: 100%;
}
.filtros .filtro select {
  position: relative;
  width: 100%;
  /* height: 2.2rem; */
  height: 2.8rem;
  /* border: 1px solid #d2d2d3; */
  border: none;
  text-indent: 0.8rem;
  box-shadow: 0px 1px 5px rgb(173, 173, 173);
}
.filtros .filtro select option {
  border: none;
  box-shadow: none;
}
.filtros .filtro .tipo-moneda {
  width: 100%;
  margin-bottom: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.filtros .filtro .tipo-moneda label {
  display: flex;
  align-items: center;
}
.filtros .filtro .tipo-moneda input {
  margin-right: 0.3rem;
  border: 1px solid #7e7e80;
}

.filtros .filtro .monto,
.filtros .filtro .metros2 {
  height: 2.2rem;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.filtros .filtro .monto span,
.filtros .filtro .metros2 span {
  padding: 0 0.4em;
}
.filtros .filtro .monto button,
.filtros .filtro .metros2 button {
  width: 25px;
  height: 100%;

  margin: 0 0 0 0.4em;
  font-size: 0.7em;
  background: #e7e7e7;
  cursor: pointer;
  border: none;
  /* border: 1px solid #7e7e80; */
  /* box-shadow: 0px 1px 5px 1px rgb(173, 173, 173); */
}
.filtros .filtro .monto button:hover,
.filtros .filtro .metros2 button:hover {
  background: #9c9c9c;
}

.filtros .filtro input[type='number'] {
  height: 100%;

  width: 100px;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  text-indent: 0.5rem;
  /* border: none; */
}

.baños .filtro,
.dormitorios .filtro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.baños .filtro label,
.dormitorios .filtro label {
  display: flex;
  align-items: center;
}
.baños .filtro label input,
.dormitorios .filtro label input {
  display: flex;
}
.filtro input[type='checkbox'] {
  margin-right: 0.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 850px) {
  .filtros .cerrar-filtros {
    display: block;
  }
  .pushbar.from_left {
    width: 300px !important;
  }
}
