@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url(/assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Gotham';
  src: url(/assets/fonts/Gotham/GothamRegular.otf) format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url(/assets/fonts/OpenSans/SourceSansPro-Regular.otf) format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Gotham', sans-serif; */
  font-family: 'Gothic A1', sans-serif;
  /* font-family: 'OpenSans', sans-serif; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family:  Helvetica, sans-serif; */
  letter-spacing: .5px;
}

html {
  font-size: 16px;
}

/* ============= VARIABLES ============ */

:root {
  /* --primary-color: rgb(220, 28, 46); */
  --primary-color: #bd2939;
  --secondary-color: #003da5;
}

.hidden {
  display: none;
}

.fixed {
  position: fixed;
}

body {
  max-width: 100vw;
  /* background: #e7e7e7; */
  background: #fafafa;
}

.container {
  max-width: 1200px;

  width: 95%;
  justify-self: center;
  align-self: center;

  /* height: auto; */
}

input[type='text'] {}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline-offset: 0px !important;
  outline: none !important;
  /* border: none; */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  background: white;
}

select,
button,
input {
  box-shadow: none;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;

  height: 2.5rem;
  border: 1px solid #dfdfe2;
}

a {
  appearance: none;
  font-style: none;
  text-decoration: none;
  color: inherit;
}

/* ============== SPLIDE PURO */