main.home {
  margin-top: 70px;
  width: 100%;
  height: auto;
}

@media (min-width: 850px) {
  main.home {
    margin-top: 80px;
  }

  .portada {
    height: calc(90vh - 40px);
  }
}

/* ==================================================0
 */

/* ==============    PORTADA  ===========*/
.portada {
  width: 100%;
  height: calc(90vh - 70px);
  min-height: 400px;
  max-height: 750px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  background: gray;
  background: url(/img/fondo1.webp) no-repeat center center fixed ;
  background-size: cover;
}

.portada .frase {
  align-self: flex-end;
  justify-self: center;
  width: 90%;
  max-width: 400px;
  text-align: center;
  word-wrap: break-word;
  color: white;
  /* background: rgba(102, 95, 95, 0.849); */
  text-shadow: 0em 0em 0.7em #161616;
}

.form-filtros {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  max-width: 600px;
  overflow: hidden;
  /* background: hsla(0, 34%, 49%, 0.438); */
}

.form-item {
  margin-top: 1em;
  height: 2em;
  width: 350px;
  background: #fafafa;
  overflow: hidden;
  border-collapse: separate;
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}

.form-item.select {
  width: 350px;
  text-indent: 0.8rem;
}

/* ======  SELECT BOX */

select,
option {
  border: 0 !important;
  box-shadow: none !important;
  margin: none;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: none;
}

/* Remove IE arrow */

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 100%;
  /* height: 3em; */
  line-height: 2em;
  background: #fafafa;
  overflow: hidden;
}

select {
  flex: 1;
  padding: 0 0 0 1em;
  text-indent: 0.8rem;
  color: #3b3a3a;
  background: #fafafa;
  cursor: pointer;
  font-size: 1em;
}

/* Arrow */

.select::after {
  content: '\25BC';
  position: absolute;
  /* top: 0; */
  right: 0;
  padding: 0 1.5em;
  color: #928e8e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

/* Transition */

.options {
  width: 100%;
  font-size: 0.5em !important;
}

.options option:checked {
  display: none;
}

/* ========================== */

.form-item input,
button {
  width: 100%;
  height: 100%;
  color: #3b3a3a;
  appearance: none;
  overflow: hidden;
  border: none;
}

.form-item input {
  text-indent: 1.2em;
}

.form-item button {
  background: rgb(216, 5, 26);
  font-size: 1em;
  color: #fafafa;
  cursor: pointer;
}

.form-item button:hover {
  background: rgb(216, 5, 26);
  font-size: 1em;
  color: #fafafa;
  font-weight: 700;
}

@media (min-width: 750px) {
  .form-filtros {
    max-width: 750px;
    width: 90%;
    /*position: relative;
    */
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 5em;
    overflow: hidden;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
  }

  .form-item {
    margin-top: 0;

    height: 2.5em;
    line-height: 2.5em;
    font-size: 1em;

    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .form-item.button {
    width: 15%;
    max-width: 200px;
  }

  .form-item.input {
    width: 45%;
    max-width: 300px;
  }

  .form-item input[type='text'] {
    font-size: 0.8em;
  }

  .form-item.select {
    width: 25%;
    max-width: 170px;
  }

  .form-item.select::after {
    padding: 0 0.3em;
    text-indent: 0.2em;
  }
}

/* ============ULTIMAS PROPIEDADES============== */

.ultimas-propiedades {
  width: 100%;
  height: auto;

  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0 3em 0;
}

/* === */

.grid-area-titulo {
  width: 90%;
  /* max-width: 960px; */
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 2em 0;
}

.grid-area-titulo h3 {
  /* color: white; */
  /* color: red; */
  font-size: 1.3em;
  font-family: 'Arial CE Bold', Helvetica, sans-serif;
  /* letter-spacing: 0.05em; */
}

.grid-area-titulo a {
  text-decoration: none;
  color: blue;
  line-height: 0.5em;
  display: none;
}

.grid-area-titulo .ultimas-propiedades .cards-container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: blue;
}

@media (min-width: 700px) {
  .grid-area-titulo {
    width: 82%;
    justify-content: space-between;
  }

  .grid-area-titulo a {
    padding-left: 3em;
    display: block;
  }
}

/* ========================================================================= */

/* VALUACIONES */

.valuaciones {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


  background: #e7e7e7;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  text-align: center;
}

.valuaciones .container {
  position: absolute;
  width: 100%;
}

.valuaciones .logo-fondo {
  position: absolute;
  left: 5px;
  top: 0;
}

.valuaciones .logo-fondo img {
  opacity: 0.8;
}

/* === */
.valuaciones h3 {
  font-size: 1.4em;
  padding-bottom: 1em;
}

.valuaciones p {
  display: none;
}

.valuaciones button {
  width: 200px;
  height: 2.5em;
  font-size: 1em;
  font-weight: 600;
  /* font-weight: 500; */
  background: none;
  cursor: pointer;
  /* text-decoration: underline; */

  border: 0.05em solid #444444;
  color: #292929;
  letter-spacing: 0.05em;

  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.valuaciones button:hover {
  text-decoration: none;
  border: 0.05em solid rgb(19, 19, 19);

  color: rgb(26, 25, 25);
  border-width: 0.1em;
}

.gratis {
  height: 35px;
  width: 210px;
  background-color: #cf121b;
  position: absolute;
  top: 30px;
  right: -40px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #fff;
  font-size: 1.2em;

  white-space: nowrap;
  -webkit-transform: rotate(38deg);
  -moz-transform: rotate(38deg);
  -ms-transform: rotate(38deg);
  -o-transform: rotate(38deg);
  transform: rotate(38deg);
}

@media (min-width: 700px) {
  .valuaciones {
    padding: 2em 0;
  }

  .valuaciones p {
    display: block;
    margin: auto;
    max-width: 550px;
    text-align: justify;
    padding: 1em 0 2em 0;
  }
}

/* ======================================== */
.se-un-asesor {
}

.contactanos {
}

.como-llegar {
}
