main {
  margin: 75px auto 20px auto;

  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(300px, 50vh) 110px 110px auto auto 450px auto 430px;
  grid-template-areas:
    'fotos'
    'info-principal'
    'precio'
    'info-complementaria'
    'descripcion'
    'ubicacion'
    'contactar-agente'
    'propiedades-similares';
}

@media (min-width: 675px) {
  main {
    grid-template-columns: auto minmax(260px, 33%);
    grid-template-rows: 450px 110px auto auto 450px 430px;
    grid-template-areas:
      'fotos fotos'
      'info-principal precio'
      'info-complementaria contactar-agente'
      'descripcion contactar-agente'
      'ubicacion ubicacion'
      'propiedades-similares  propiedades-similares';
  }
}
@media (min-width: 850px) {
  main {
    width: 97%;
    margin: 120px auto 20px auto;
    grid-template-areas:
      'fotos fotos'
      'info-principal precio'
      'info-complementaria contactar-agente'
      'descripcion contactar-agente'
      'ubicacion ubicacion'
      'propiedades-similares  propiedades-similares';
  }
}

/* =================== FOTOS ======================== */
.fotos {
  grid-area: fotos;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(300px, 100%);
  grid-template-areas: 'splide-principal';
}
.splide-principal {
  grid-area: splide-principal;
  /* background: #e7e7e7; */
  background: #1a1a1ac2;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.splide-principal .splide {
  position: absolute;
}
.splide-principal .splide .splide__track {
  width: 100%;
  height: 100%;
}
.splide-secundario {
  display: none;
  grid-area: splide-secundario;
  /* background: #e7e7e7; */
  background: #1a1a1ac2;
  position: relative;
  width: 100%;
  padding: 0;
}
.splide-secundario .splide {
  height: 100%;
  padding: 0;
}
.splide--nav > .splide__track > .splide__list > .splide__slide {
  border: 2px solid #cccccc70;
}
.splide-secundario .splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
  border-color: #ff7171;
  border-width: 3px 0;
}
@media (min-width: 675px) {
  .fotos {
    grid-template-columns: minmax(150px, 20%) auto;
    /* grid-template-columns: minmax(100px, 250px) auto; */
    grid-template-rows: 450px;
    grid-template-areas: 'splide-secundario splide-principal';
  }
  .splide-secundario {
    display: unset;
  }
}

/* ============ Info PRINCIPAL =================== */
.info-principal {
  padding: 1rem 0.7rem 0.5rem 1rem;
  grid-area: info-principal;
  /* background: rgb(240, 137, 137); */
  background: #c0b9b9;
  display: grid;
  grid-template-columns: auto 60px;
  grid-template-rows: 30px auto;
  grid-template-areas: 'titulo caracteristicas' 'direccion caracteristicas';
  box-shadow: 1px 2px 4px rgb(173, 173, 173);

}
.info-principal h1 {
  grid-area: titulo;
  font-size: 1.1rem;
}
.info-principal .direccion {
  grid-area: direccion;
  font-size: .9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-principal .caracteristicas {
  grid-area: caracteristicas;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 1.2em;
  padding-right: 0.5rem;
  color: #616060;
}
.info-principal .caracteristicas span {
  width: 1rem;
  margin-left: 0.3rem;
}

/* ========= PRECIO ====================0 */
.precio {
  grid-area: precio;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: rgb(8, 100, 187);
  color: white;
  box-shadow: 1px 3px 5px rgb(173, 173, 173);

}
.precio .soles {
  font-size: 1.4rem;
}
.precio .dolares {
  font-size: 1rem;
}
.precio .otros {
  font-size: 0.7rem;
}
/* =============== Info- COMPLEMENTARIA ========== */
.info-complementaria {
  grid-area: info-complementaria;
  padding: 1rem 1rem 1rem 1.5rem;
  height: fit-content;
  background: #e0e0e0;
}
.info-complementaria ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 2rem;
  width: 100%;
  font-size: 1rem;
  color: rgb(88, 86, 86);
  word-wrap: break-word;
}
.info-complementaria ul li > span {
  display: block;
  width: 140px;
  font-size: 0.85rem;
  color: rgb(172, 68, 37);
}
.info-complementaria ul li > i {
  display: block;
  width: calc(100%-140px);
  font-size: 0.85rem;
  color: #1f1e1e;
  font-style: normal;
}

/* ======= DESCRIPCION ========= */
.descripcion {
  grid-area: descripcion;
  background: #fafafa;
  padding: 1.5rem;


}
.descripcion p {
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.3rem;
  text-transform: lowercase;
}

/* ======= UBICACION ======== */
.ubicacion {
  grid-area: ubicacion;
  /* background: red; */
  /* margin: 1.5rem 0; */
  padding: 2rem 1rem 0 1rem;

}
.ubicacion h4 {
  padding: 0.2rem 0;
}
.ubicacion p {
  font-size: 0.8rem;
  margin: 0.6rem 0;
}
.ubicacion .google-maps {
  width: 100%;
  height: 350px;
  box-shadow: 1px 2px 4px rgb(173, 173, 173);
}
.ubicacion .google-maps img {
  width: 100%;
  height: 100%;
}

/* ======== CONTACTAR AGENTE ========= */
.contactar-agente {
  grid-area: contactar-agente;
  /* margin: 2rem 0; */
  padding: 2rem 0;
  display: flex;
  justify-content: center;

}
/* ----- */

.container-agente {
  box-shadow: 1px 2px 10px rgb(173, 173, 173);
  width: 90%;
  padding: 1rem 0.5rem;
  height: fit-content;
}
.foto-agente {
  grid-area: foto-agente;
  display: flex;
  justify-content: center;
}
.foto-agente img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* ------| */
.info-agente {
  grid-area: info-agente;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.7rem;
  font-size: 0.9rem;
  color: rgb(82, 82, 82);
}
.info-agente .nombre-agente {
  font-size: 1.3rem;
  margin: 0.5rem;
}
.info-agente p {
  margin: 0.3rem;
}
.info-agente .frase {
  font-size: 1rem;
  margin: 1rem 0;
  text-align: center;
  line-height: 1.5rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.info-agente .frase .quotes {
  font-size: 0.7rem;
  position: relative;
  top: -0.2rem;
  color: rgb(59, 59, 59);

  padding: 0 0.3rem;
}

.info-agente .mis-propiedades {
  margin: 1rem 0;
  font-size: 0.9rem;
  color: blue;
  cursor: pointer;
}

/* ------- */
.sociales-agente {
  grid-area: sociales-agente;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  /* background: #090080b2; */
}
.sociales-agente a {
  font-size: 1.4rem;
  color: rgb(82, 82, 82);
}

/* -------- */
.opciones {
  position: relative;
  grid-area: opciones;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.opciones button {
  align-self: center;
  width: 80%;
  height: 35px;
  display: flex;

  border: none;
  /* background: #f02b2b; */
  background: #fafafae3;
  /* color: #fafafa; */
  /* color: #1f1e1e; */
  color: red;
  /* border: 1px solid #1f1e1e; */
  border: 1px solid red;

  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.opciones button:hover {
  background: #fafafa;
}

/* ======== PROPIEDADES SIMILARES ===== */

.propiedades-similares {
  padding: 1rem 0;

  position: relative;
  grid-area: propiedades-similares;
  /* box-shadow: 1px 2px 4px rgb(173, 173, 173); */

}
.propiedades-similares .cabecera {
  position: relative;
  height: 30px;
  width: 100%;
  padding: 0 1rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.propiedades-similares .cards-container {
  position: relative;
}
.propiedades-similares .cabecera h4 {
  font-size: 1.1rem;
  font-weight: 100;
}
.propiedades-similares .cabecera span {
  font-size: 0.8rem;
  font-weight: 100;
  color: #4d4be7;
}

.propiedades-similares .cards-container {
  position: absolute;
  width: 100%;
  height: 360px;
  bottom: 0;
}
.propiedades-similares .cards-container .splide {
  margin-bottom: 0;
}
