@font-face {
	font-family: 'Camber W04 Semibold';
	src: url(/assets/fonts/960bd0df5a0d90ddc8aea6e9fd055abe.woff) format('woff');
}
@font-face {
	font-family: 'Corsiva Regular';
	src: url(/assets/fonts/monotype.ttf) format('woff');
}

.logo-remax {
	position: relative;
	display: flex;
	flex-direction: column;
	top: 0.3em;
	/* ================ACAAAAAA========== */
	font-size: 1rem;
	width: fit-content;
	width: -moz-max-content;
}
#remax {
	font-family: 'Camber W04 Semibold';
	position: relative;
	display: inline-block;
	flex-wrap: nowrap;
	font-weight: 400;
	letter-spacing: 0.03em;
	font-size: 28px;
	color: rgb(220, 28, 46);
	font-style: normal;
	white-space: nowrap;
	padding-bottom: 3px;
}
#metropolis {
	position: relative;
	font-family: 'Corsiva Regular';
	font-weight: 600;
	color: var(--secondary-color);

	font-size: 1.3em;

	top: -0.5em;

	align-self: flex-end;
}

.content-slash {
	display: inline-block;
	position: relative;

	width: 0.38em;

	height: 1.38em;

	left: -0.2em;
}

.border-slash {
	display: inline-block;
	background: white;
	width: 0.6em;

	height: inherit;
	transform: skew(-26deg);
	-webkit-transform: skew(-26deg);
	-moz-transform: skew(-26deg);
	-ms-transform: skew(-26deg);
	-o-transform: skew(-26deg);
}

.slash {
	display: inline-block;
	position: relative;
	margin: 0 0.2em;

	width: 0.2em;
	height: 0.7em;

	background: #334c9d;
}
