.splide__arrow--prev {
  left: 0;
}

.splide__arrow--next {
  right: 0;
}

.splide {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  /* min-width: 300px; */
}
.splide__slide {
  min-width: 270px;
  /* max-width: 85vw; */
}
.card-slider-track {
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
}

.splide__track {
  justify-self: center;
  align-self: center;
  justify-content: center;
  /* padding-left: 40px; */
  width: 90%;
}

.card {
  height: 100%;
  width: 90%;
  min-width: 300px;
  margin: auto;
  background: rgb(250, 250, 250);
  border-bottom: 1px solid rgb(173, 173, 173);
  box-shadow: 3px 1px 10px  rgb(173, 173, 173);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  justify-self: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}

.card_img {
  position: relative;
  height: 250px;
  width: 100%;
}

.card_img img {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* DESTADO */

.card_destacado {
  position: absolute;
  top: 5%;
  background: rgba(255, 0, 0, 0.781);
  max-width: 70%;
  height: 1.5em;
  border-radius: 0 0.2em 0.2em 0;
  display: flex;
  padding: 0 1.2em;
  align-items: center;
}

.card_destacado p {
  color: rgb(255, 255, 255);
  line-height: 1.2em;
  font-size: 1em;
  /* font-weight: 600; */
}

/* -------- */

/* caracteristicas */

.card_caracteristicas {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card_caracteristicas p {
  margin-right: 1rem;
  font-size: 1.2em;
  /* font-weight: 800; */
  color: rgb(100, 98, 98);
  /* text-shadow: 0em 0em 3em #000000; */
}

.card_caracteristicas .fas {
  width: 1em;
  padding-left: 0.3em;
}

.card_caracteristicas .fas sup {
  font-size: 0.5em;
}

.card_tipo_propiedad {
  position: absolute;
  bottom: 3%;
  left: 2%;
  height: 1.5em;
  background: #fafafa;
  max-width: 75%;
  padding: 0.8rem 1.5em;
  font-size: 1.1em;
  /*font-weight: 550;
  */
  color: rgb(54, 54, 54);
  display: flex;
  align-items: center;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
}
/* ------- */

.card_descripcion {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
}
.card_descripcion_propiedad {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card_precio {
  font-size: 1.6em;
}
.card_precio .tipo_moneda {
  font-size: 0.65em;
  margin-right: 0.2em;
}

.card_descripcion_agente {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_descripcion_agente p {
  font-size: 0.8em;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-align: center;
  text-transform: capitalize;
}
.card_descripcion_agente p span {
  position: relative;
  font-size: 0.8em;
}

.card_descripcion_agente img {
  width: 3.5em;
  border-radius: 50%;
  padding-bottom: 0.2em;
}
.card_descripcion_agente span {
}
